.container {
  display: flexbox;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 14px;
}

.label {
  display: flex;
  margin-bottom: 4px;
}

.button {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(100, 150, 250);
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  transform: scale(1.05);
}

.ioIosPhonePortrait {
  display: block;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  color: rgb(100, 150, 250);
}

.spanName {
  font-size: 12px;
  margin-left: 6px;
  color: rgb(100, 150, 250);
}

.input {
  min-width: 170px;
  outline-color: rgb(100, 150, 250);
}
